/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background-color: #e8e8e8;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content {
  padding: 125px 0px 0px 0px;
  font-size: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 40px;
}
.text_h1 {
  max-width: 840px;
  margin: 0 auto;
}
.text_h2 {
  position: absolute;
  padding-left: 150px;
  padding-top: 70px;
}
.con_text p {
  background-image: url(../img/icons/li.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-size: 25px;
}
.con_style p {
  background-image: url(../img/icons/li.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-size: 25px;
}
.con_style {
  max-width: 840px;
  margin: 0 auto;
}
.content span {
  text-transform: uppercase;
}

.con_text p:nth-child(1) {
  text-decoration: line-through;
}
.con_text p:nth-child(2) {
  font-weight: 800;
}
.con_text p:nth-child(3) {
  font-style: italic;
}
.con_text p:nth-child(4) {
  text-transform: uppercase;
}

.con_style p:nth-child(1):hover {
  text-decoration: line-through;
}

.con_style p:nth-child(2):hover {
  font-weight: 800;
}

.con_style p:nth-child(3):hover {
  font-style: italic;
}

.con_style p:nth-child(4):hover {
  text-transform: uppercase;
}
.link {
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #80b7b3;
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  letter-spacing: 2.8px;
}
.link2 {
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #80b7b3;
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  letter-spacing: 2.8px;
}
.link3 {
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #80b7b3;
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  letter-spacing: 2.8px;
}
.link span {
  background-image: url(../img/icons/css_template.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}
.link2 span {
  background-image: url(../img/icons/css_template.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}
.link3 span {
  background-image: url(../img/icons/css_template.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

.all_link {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.inv {
  visibility: hidden;
}
.a1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.link2:hover {
  background-color: rgb(1, 20, 14);
}
.link3:active {
  background-color: rgb(62, 31, 97);
}
